<ion-header>
  <ion-toolbar color="header_1">
    <div class="back-msg">
        <ion-icon name="arrow-back" (click)="back_msg()"></ion-icon>
    </div>
    <div class="img-usr">
      <ion-avatar item-left>
        <img src="/assets/img/me.jpg">
      </ion-avatar>
    </div>
    <div class="msg-user">
      <p>adimaryadi </p>
    </div>
    <div class="video-call">
      <ion-icon name="videocam"></ion-icon>
      <ion-icon name="call"></ion-icon>
    </div>
    <div class="more">
      <ion-icon name="more" (click)="more()"></ion-icon>      
    </div>
  </ion-toolbar>
</ion-header>

<div class="more-select">
  <ion-list>
    <ion-item >
      <ion-label>Buka chatme di pc</ion-label>
    </ion-item>
    <ion-item >
      <ion-label>Setelan</ion-label>
    </ion-item>
  </ion-list>
</div>
<ion-content no-padding>
<div class="bg-msg" (click)="body_klik()">
    <div class="chat-box">

      <div class="chat-from">
        <div class="name-from">
          <p>adimaryadi</p>
        </div>
        <div class="profil-msg">
            <ion-avatar>
                <img src="/assets/img/me.jpg">
            </ion-avatar>         
        </div>
        <p>pesan coba tes </p>
        <span class="time-msg">10:34</span>
      </div>

      <div class="chat-me">
        <p>coba sajaasdijaisjdisjdisdjishduhdudhdgywgaysgydaygdyasyd </p>
        <div class="time-msg">
          <p>11:22</p>
          <div class="status-sent">
            <ion-icon name="time"></ion-icon>
          </div>
        </div>
        <div class="name-me">
          <p>me</p>
        </div>
      </div>

    </div>
</div>
</ion-content>

<ion-footer>
    <div class="box-chatting">
        <ion-textarea #pesan (input)="MessageInput(pesan.value)"></ion-textarea>
        <div class="smile">
            <ion-icon name="happy"></ion-icon>
        </div>
        <div class="options">
            <ion-icon name="attach"></ion-icon>
            <ion-icon name="camera"></ion-icon>
        </div>
        <div class="send-btn">
          <button ion-button fill="outline" class="btn_send" (click)="Kirim()"><ion-icon name="send"></ion-icon></button>
          <button ion-button fill="outline" class="voice" (click)="PesanSuara()"><ion-icon name="mic"></ion-icon></button>
        </div>
    </div>
</ion-footer>