.back-msg {
    font-size: 1.8em;
    position: relative;
    top: 4px;
    left: 0;    
}
.img-usr {
    position: absolute;
    top: 8px;
    height: 47px;
    text-align: center;
    left: 32px;
    img {
        width: 42px;
        height: 41px;        
    }    
}
ion-header {
    background-color: #48d843;
    color: white;  
}
.msg-user {
    position: absolute;
    top: 0px;
    left: 95px;
    font-size: 1.4em;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 38%;
    overflow: hidden;
    p {
        margin-top: 11px;
    }    
}
.video-call {
    position: absolute;
    top: 13px;
    right: 43px;
    font-size: 1.9em;    
}
ion-icon {
    margin-left: 7px;
    margin-right: 7px;    
}
.bg-msg {
    background-image: url(/assets/img/msg_background_default.png);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;   
}
.more {
    position: absolute;
    top: 14px;
    right: 3px;
    font-size: 1.8em;    
}
.more-select {
    position: absolute;
    z-index: 2;
    top: 58px;
    right: 0;
    opacity: 0;  
    transition: visibility 0s, opacity 0.6s linear;
}
ion-footer {
    position: fixed;
    bottom: 10px;    
    .box-chatting {
        padding-right: 55px;
        ion-textarea {
            background-color: white;
            border-radius: 74px;
            height: 37px;
            padding-left: 37px;
            padding-right: 72px;
            padding-top: 0px;          
        }
        .smile {
            position: absolute;
            top: 6px;
            font-size: 1.6em;
            z-index: 2;
            color: #9ea3a5;            
        }
        .options {
            position: absolute;
            z-index: 2;
            right: 59px;
            top: 6px;
            font-size: 1.6em;
            color: #9ea3a5;            
        }
        .send-btn {
            position: absolute;
            top: 0px;
            z-index: 2;
            right: 8px;
            button {
                background-color: #48d843;
                height: 40px;
                border-radius: 27px;
                width: 42px;
                color: white;
                font-size: 1.6em;
                ion-icon {
                    margin: 5px;                    
                }                
            }            
        }
    }
}