ion-header {
    background-color: #48d843;
    .icon-logo {
        .title-logo {
            position: absolute;
            top: 4px;
            left: 67px;
            font-size: 1.2em;
            font-weight: bold;
            p {
                color: white;
            }            
        }
    }
}
