<ion-header>
  <ion-toolbar color="header_1">
    <div class="icon-logo">
      <img src="/assets/img/verif_logo.png" alt="">
      <div class="title-logo">
        <p>SMS Verifikasi</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="kode_verif">
    <div class="title">
      <p>ChatMe Mengirimkan Kode Verifikasi ke nomor Telepon jika tidak terkirim klik tombol kirim ulang </p>
    </div>
    <div class="kode_input">
         <ion-input type="text" name="1" maxlength="1"></ion-input>
    </div>
    <div class="kode_input">
         <ion-input type="text" name="2" maxlength="1"></ion-input>
    </div>    
    <div class="kode_input">
         <ion-input type="text" name="3" maxlength="1"></ion-input>
    </div>    
    <div class="kode_input">
         <ion-input type="text" name="4" maxlength="1"></ion-input>
    </div>
    <div class="kode_input">
         <ion-input type="text" name="5" maxlength="1"></ion-input>
    </div>
  </div>
</ion-content>
