.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.menu-bar {
  .main {
    font-size: 1.3em;
  }
  .btn-cari {
    position: absolute;
    top: 1px;
    right: 12px;
    font-size: 1.3em;    
    .tutuppencarian {
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }
    .pencarian {
      position: absolute;
      z-index: 1;
    }
  }
}

.cari {
  position: absolute;
  top: -8px;
  right: 46px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}
ion-header {
  background-color: #48d843;
  color: white;
}
.msg-user {
  .msg-name {
    position: absolute;
    top: 0;
    left: 92px;
    font-size: 1.2em;
    font-weight: bold;
    p {
      margin-top: 9px;
    }    
  }
  img {
    height: 55px;
    width: 58px;    
  }
  .message {
    position: absolute;
    top: 20px;
    font-size: 0.9em;
    left: 92px;
    white-space: nowrap;
    width: 70%;
    overflow: hidden;   
  }
  .msg-time {
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 0.7em;    
  }
}
ion-item {
  transition: transform .3s;
  margin-top: 9px;
}

ion-item:hover {
  transform: scale(1.1);
}